* {
  box-sizing: border-box;
  margin: 10;
  padding: 10;
  font-family: "Roboto", sans-serif;
  background-color: #c7d9d5;
}

.App {
  text-align: center;
}
.wholeContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.25fr 1fr 1fr 1fr;
  grid-gap: 0.2rem;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.logo {
  font-size: 35px;
}
.welcome {
  text-align: center;
  padding: 5px;
  height: 50px;
  border-bottom: 4px solid #89b1a7;
  background-color: #c7d9d5;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
}

.home {
  white-space: pre;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  background-color: transparent;
  padding: 20px;
}

/* LOGIN/ REGISTER CSS */
.login {
  width: 100vw;
  height: 100vh;
  background-color: #c7d9d5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginWrapper {
  width: 70%;
  height: 70%;
  display: flex;
}

.loginLeft {
  flex: 0.75;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginDesc {
  font-size: 20px;
}

.loginBox {
  height: 300px;
  padding: 20px;
  background-color: #bcd3cd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 3px solid #89b1a7;
}

.signBox {
  height: 400px;
  padding: 20px;
  background-color: #bcd3cd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 3px solid #89b1a7;
}

.loginInput:focus {
  outline: none;
}
.loginInput {
  height: 50px;
  border-radius: 10px;
  border: 1px solid #89b1a7;
  background-color: #e5eeec;
  font-size: 18px;
  padding-left: 20px;
}

.loginButton {
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #94b7af;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  border: 3px solid #89b1a7;
}

.loginRegisterButton {
  width: 60%;
  align-self: center;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #9ebeb6;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  border: 3px solid #89b1a7;
}
/**/
.searchbar {
  position: absolute;
  top: 45px;
  right: 5px;
  background-color: #c7d9d5;
}

.searchInput {
  border-radius: 5px;
  width: 70%;
  background-color: #c7d9d5;
}
/* box arund the individual book*/
.container {
  border: 3px solid #89b1a7;
  border-radius: 10px;

  position: relative;
}

.dropbtn {
  position: relative;
  align-self: center;

  /* right: 1px;
  top: -10px; */
}
.individualBook {
  background-color: transparent;
}
.list {
  border: 3px solid #7faa9f;
  border-radius: 10px;
  background-color: #c7d9d5;
}
.list-current {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
}
.list-want {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
}

.list-read {
  align-items: center;

  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
}

.books-container {
  display: flex;
  flex-wrap: wrap;
}

.readStats {
  border: 3px solid #7faa9f;
  border-radius: 10px;
  background-color: #c7d9d5;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 5;
}

.subtitle {
  /* font-size: 15px; */
  text-decoration: underline;
  background-color: #c7d9d5;
  position: relative;
  text-align: center;
}

.empty {
  background-color: transparent;
  position: relative;
  float: left;
}

.thumbnail {
  border: 3px solid black;
  border-radius: 10px;
  width: 100px;
  height: 150px;
  object-fit: cover;
  padding: 1px;
  margin: 5px;
}

.button {
  width: 150px;
  font-size: 15px;
  border-radius: 7px;
  background-color: transparent;
}
.button:hover {
  background-color: #a7c6be;
}

.description {
  float: right;
  text-align: justify;
}

.back {
  width: 200px;
  background-color: #c7d9d5;
  font-weight: bold;
  border-radius: 20px;
}

.dropbtn {
  background-color: #bcd3cd;
  border: 1px solid #7faa9f;
  padding: 16px;
  font-size: 16px;
  width: 100px;
  cursor: pointer;
  border-radius: 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  left: 5px;
  bottom: 10px;
  background-color: transparent;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  border: 3px solid #7faa9f;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #a7c6be;
}

.logout {
  height: 30px;
  width: 100px;
  border-radius: 20px;
  font-size: 15px;
  background-color: #bcd3cd;
  border: 3px solid #7faa9f;
  /* position: relative;
  right: 3px;
  bottom: 8px; */
}

.logout:hover {
  background-color: #a7c6be;
}

.enter {
  border-radius: 5px;
}

@media only screen and (max-width: 768px) {
  .search {
    position: relative;
    top: 0px;
    float: right;
  }
}
